*{
    font-size: 30px;
    font-weight: 15px;
}
body {
    background-color: black;
    
}
.cal{
    margin: auto;
    height: 700px;
    width: 500px;
    border-style: solid;
    border-color: rgb(157, 5, 228);
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 25px rgb(157, 5, 228);
    background-color: rgba(157, 5, 228,50%);
    display: flex;
    flex-wrap: wrap;
}
#screen{
    margin:20px;
    width: 450px;
    height: 100px;
    flex-direction: column;
    background-color: rgb(226, 233, 160);
    flex:auto;
    box-shadow: 0px 0px 25px rgb(157, 5, 228);
    display:flex;
}
#upper-screen{
    width: 450px;
    height: 200px;
    flex: auto;
    background-color: rgb(226, 233, 160);
}
#lower-screen{
    width: 450px;
    height: 250px;
    font-size: 40px;
    flex: auto;
    background-color: rgb(226, 233, 160);
}
.buttons{
    width: 450px;
    height: 500px;
    margin-bottom: 10px;
    display:flex;
    flex-wrap: wrap;
    flex:auto;
}
button{
    width: 80px;
    height: 80px;
    margin: 10px;
    background: rgb(248, 223, 81);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(248, 223, 81);
    flex:auto;
}
button:hover{
    background-color: rgb(243, 208, 8);
 
}
button:active{
    background-color: rgb(243, 208, 8);
    box-shadow: 0px 0px 25px  rgb(243, 208, 8);
}
button.big{
    width: 200px;
}
